html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
  background image: https://picsum.photos/1200/300
  primary: #40bf95;
  dark: #003322;
  semi-transparent: #40bf9599;
*/
