html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
    background image: https://picsum.photos/1200/300
    primary: #40bf95;
    dark: #003322;
    semi-transparent: #40bf9599;
*/

body {
  width: 70%;
  margin: 0 auto;
}

header {
  min-height: 15rem;
  background-image: url(https://picsum.photos/1200/300);
  background-size: cover;
  padding: 3rem 2rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

nav li {
  display: inline-block;
}

nav a {
  background-color: #40bf9599;
  text-decoration: none;
  color: #003322;
}

nav a:hover {
  background-color: #40bf95;
}

main {
  background-color: #40bf9599;
  padding: 2rem;
}

main img {
  width: 100%;
  height: auto;
}

section {
  background-color: #40bf95;
  padding: 2rem;
  border-bottom: 5px dotted #003322;
  margin-right: -2rem;
  margin-left: -2rem;
  display: flow-root;
}

section img {
  width: 175px;
  height: auto;
  float: left;
}

h2 {
  margin: 0;
  padding: 2rem 0;
  clear: both;
}
